[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/conversations.create",
    "status": 200,
    "response": {
      "ok": true,
      "channel": {
        "id": "C027KM553C1",
        "name": "offtopic-app-thread-storage",
        "is_channel": true,
        "is_group": false,
        "is_im": false,
        "created": 1625581364,
        "is_archived": false,
        "is_general": false,
        "unlinked": 0,
        "name_normalized": "offtopic-app-thread-storage",
        "is_shared": false,
        "parent_conversation": null,
        "creator": "U022ZM8GYS1",
        "is_ext_shared": false,
        "is_org_shared": false,
        "shared_team_ids": [
          "T022W258HAR"
        ],
        "pending_shared": [],
        "pending_connected_team_ids": [],
        "is_pending_ext_shared": false,
        "is_member": true,
        "is_private": false,
        "is_mpim": false,
        "last_read": "0000000000.000000",
        "topic": {
          "value": "",
          "creator": "",
          "last_set": 0
        },
        "purpose": {
          "value": "",
          "creator": "",
          "last_set": 0
        },
        "previous_names": [],
        "priority": 0
      }
    },
    "rawHeaders": [
      "x-slack-req-id",
      "2f4767bc9e62d563303079e782131dd6",
      "x-slack-backend",
      "r",
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage,app_mentions:read",
      "x-accepted-oauth-scopes",
      "channels:write,groups:write,mpim:write,im:write,post",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-g2dg",
      "x-via",
      "envoy-www-iad-2ul9, haproxy-edge-fra-l7zc",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  }
]