[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/conversations.create",
    "status": 200,
    "response": {
      "ok": false,
      "error": "name_taken"
    },
    "rawHeaders": [
      "x-slack-req-id",
      "d31ef7062347b7b6e2d7171fcbf4942e",
      "x-slack-backend",
      "r",
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage,app_mentions:read,channels:join,channels:read",
      "x-accepted-oauth-scopes",
      "channels:write,groups:write,mpim:write,im:write,post",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-canary-main-iad-wu67",
      "x-via",
      "envoy-www-iad-zcnh, haproxy-edge-fra-1px0",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/conversations.list",
    "status": 200,
    "response": {
      "ok": true,
      "channels": [
        {
          "id": "C022Z4FQCQ2",
          "name": "general",
          "is_channel": true,
          "is_group": false,
          "is_im": false,
          "created": 1621951681,
          "is_archived": false,
          "is_general": true,
          "unlinked": 0,
          "name_normalized": "general",
          "is_shared": false,
          "parent_conversation": null,
          "creator": "U022JB6SB55",
          "is_ext_shared": false,
          "is_org_shared": false,
          "shared_team_ids": [
            "T022W258HAR"
          ],
          "pending_shared": [],
          "pending_connected_team_ids": [],
          "is_pending_ext_shared": false,
          "is_member": false,
          "is_private": false,
          "is_mpim": false,
          "topic": {
            "value": "",
            "creator": "",
            "last_set": 0
          },
          "purpose": {
            "value": "This is the one channel that will always include everyone. It’s a great spot for announcements and team-wide conversations.",
            "creator": "U022JB6SB55",
            "last_set": 1621951681
          },
          "previous_names": [],
          "num_members": 1
        },
        {
          "id": "C0236KH5284",
          "name": "nothing",
          "is_channel": true,
          "is_group": false,
          "is_im": false,
          "created": 1621968105,
          "is_archived": false,
          "is_general": false,
          "unlinked": 0,
          "name_normalized": "nothing",
          "is_shared": false,
          "parent_conversation": null,
          "creator": "U022JB6SB55",
          "is_ext_shared": false,
          "is_org_shared": fals[...]
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/conversations.join",
    "status": 200,
    "response": {
      "ok": true,
      "channel": {
        "id": "C027KM553C1",
        "name": "offtopic-app-thread-storage",
        "is_channel": true,
        "is_group": false,
        "is_im": false,
        "created": 1625581364,
        "is_archived": false,
        "is_general": false,
        "unlinked": 0,
        "name_normalized": "offtopic-app-thread-storage",
        "is_shared": false,
        "parent_conversation": null,
        "creator": "U022ZM8GYS1",
        "is_ext_shared": false,
        "is_org_shared": false,
        "shared_team_ids": [
          "T022W258HAR"
        ],
        "pending_shared": [],
        "pending_connected_team_ids": [],
        "is_pending_ext_shared": false,
        "is_member": true,
        "is_private": false,
        "is_mpim": false,
        "topic": {
          "value": "",
          "creator": "",
          "last_set": 0
        },
        "purpose": {
          "value": "",
          "creator": "",
          "last_set": 0
        },
        "previous_names": []
      },
      "warning": "already_in_channel",
      "response_metadata": {
        "warnings": [
          "already_in_channel"
        ]
      }
    },
    "rawHeaders": [
      "x-slack-req-id",
      "f71fc5345446f80c303c0b5747b887f8",
      "x-slack-backend",
      "r",
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage,app_mentions:read,channels:join,channels:read",
      "x-accepted-oauth-scopes",
      "channels:join",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-kgb0",
      "x-via",
      "envoy-www-iad-voh3, haproxy-edge-fra-w1zd",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  }
]