[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/oauth.v2.access",
    "status": 200,
    "response": {
      "ok": true,
      "app_id": "A022XD0D7LM",
      "authed_user": {
        "id": "U022JB6SB55"
      },
      "scope": "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage",
      "token_type": "bot",
      "access_token": "xoxb-secret",
      "bot_user_id": "U022ZM8GYS1",
      "team": {
        "id": "T022W258HAR"
      },
      "enterprise": null,
      "is_enterprise_install": false
    },
    "rawHeaders": [
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage",
      "x-slack-backend",
      "r",
      "x-slack-req-id",
      "ca0ead1468337a8c09aafa3acd6a9d8f",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-7gi5",
      "x-via",
      "envoy-www-iad-vdd1, haproxy-edge-fra-aql9",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  }
]