[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/oauth.v2.access",
    "status": 200,
    "response": {
      "ok": false,
      "error": "invalid_code"
    },
    "rawHeaders": [
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage",
      "x-slack-backend",
      "r",
      "x-slack-req-id",
      "0adf15398255671d076843ff55250189",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-hygt",
      "x-via",
      "envoy-www-iad-cv93, haproxy-edge-fra-fxh7",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  }
]