[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/views.open",
    "status": 200,
    "response": {
      "ok": true,
      "view": {
        "id": "V0273A7PL4C",
        "team_id": "T022W258HAR",
        "type": "modal",
        "blocks": [
          {
            "type": "input",
            "block_id": "channel-select",
            "label": {
              "type": "plain_text",
              "text": "Select a channel to which will store the offtopic threads",
              "emoji": true
            },
            "optional": false,
            "dispatch_action": false,
            "element": {
              "type": "conversations_select",
              "action_id": "multi_conversations_select-action",
              "placeholder": {
                "type": "plain_text",
                "text": "Select conversations",
                "emoji": true
              },
              "filter": {
                "include": [
                  "public"
                ]
              }
            }
          }
        ],
        "private_metadata": "",
        "callback_id": "setup",
        "state": {
          "values": {}
        },
        "hash": "1625216839.PCHakyMJ",
        "title": {
          "type": "plain_text",
          "text": "Offtopic setup",
          "emoji": true
        },
        "clear_on_close": false,
        "notify_on_close": false,
        "close": {
          "type": "plain_text",
          "text": "Cancel",
          "emoji": true
        },
        "submit": {
          "type": "plain_text",
          "text": "Submit",
          "emoji": true
        },
        "previous_view_id": null,
        "root_view_id": "V0273A7PL4C",
        "app_id": "A022XD0D7LM",
        "external_id": "",
        "app_installed_team_id": "T022W258HAR",
        "bot_id": "B0232PJUUGJ"
      }
    },
    "rawHeaders": [
      "x-oauth-scopes",
      "channels:history,chat:write,chat:write.customize,commands,im:write,chat:write.public,channels:manage",
      "x-slack-backend",
      "r",
      "x-slack-req-id",
      "2958490b741d489ef5b5c3b9e8b5fd8e",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-z2cj",
      "x-via",
      "envoy-www-iad-qqrd, haproxy-edge-fra-f1ri",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "responseIsBinary": false
  }
]