[
  {
    "scope": "https://slack.com:443",
    "method": "POST",
    "path": "/api/oauth.v2.access",
    "body": "client_id=2098073289365.2099442449701&client_secret=b0bd0181657c8259376302f8e0b9f136&code=2098073289365.2142788510786.d6b9531f28f5a2209f0fac8aa281b15ba97d5c3fb84865440ec14b1cd6fef41c",
    "status": 200,
    "response": {
      "ok": false,
      "error": "internal_error"
    },
    "rawHeaders": [
      "x-slack-backend",
      "r",
      "x-slack-req-id",
      "c9c3f7cbb4c031fd410aea979881634f",
      "content-type",
      "application/json; charset=utf-8",
      "x-backend",
      "main_normal main_canary_with_overflow main_control_with_overflow",
      "x-server",
      "slack-www-hhvm-main-iad-dnss",
      "x-via",
      "envoy-www-iad-dpvj, haproxy-edge-fra-468u",
      "x-slack-shared-secret-outcome",
      "shared-secret"
    ],
    "reqheaders": {
      "content-type": "application/x-www-form-urlencoded"
    },
    "responseIsBinary": false
  },
[...]
